* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
};


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header h1{
    padding: .51em;
    padding-left: 100px;
    background-color: #ffaa00;
    position: fixed;
    top: 0;
    box-shadow: 10px 0px 60px 8px rgb(0, 0, 0);
    border-radius: 3px;
    z-index: 2;

}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 10px 30px black;
    background-color: rgb(16, 54, 67);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* nav ul {
    display: flex;
} */

/* li {
    list-style: none;
    font-size: 1.4em;
    background-color: rgb(16, 54, 67);
    padding: 1em;
    margin: 0px 10px;
    border-radius: 5px;
} */

/* li:hover {
    background-color: #ffaa00;
    box-shadow: 0px 10px 20px black;
    transition: .4s;
} */

a:hover {
    color: black;
    background-color: #ffaa00;
    box-shadow: 0px 10px 20px black;
    transition: .4s;
}

nav a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 1.4em;
    background-color: rgb(16, 54, 67);
    padding: 1em;
    margin: 0px 10px;
    border-radius: 5px;

}

main {
    margin-top: 7em;
}

body {
    background-image: url("./images/pexels-rovenimagescom-949587.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    display: flex;
}

.section h2 {
    font-size: 2em;
    color: white;
}

article p {
    color: white;
    background-color: rgba(0,0,0,.70);
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    float: right;
}

.section-header {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
#about img {
    width: 100%;
    margin: 30px;
}

.project img{
    height: 400px;
    width: 600px;
}



/* Media Queries */

@media screen and (max-width: 767px) {
    header h1 {
        width: 100%;
        text-align: center;
        padding: .59em;
        position: static;
    }

    nav {
        display: flex;
        text-align: center;
        width: 100%;
        position: static;
        flex-direction: column;
    }

    nav a {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    
}

